page-login {
    .grid{
        min-height: 93%;
        .col:nth-child(1){
            padding: 5% 15%;
        }
        .col:nth-child(2){
            padding: 15% 0;
            margin: 0 auto;
        }
    }

    form{
        .item {
            background:transparent;
            border: 1px  solid color($colors, primary) !important;
            border-radius: 3px;
            padding: 0;
            height: 3.6rem;
            .item-inner {
                margin-left: 0px !important;
                border-bottom: 0 !important; 
                box-shadow: none !important;
                padding: 0 !important;
            }
        }

    }
}
