<ion-content no-padding>
  <ion-grid no-padding>
    <div hidden-sm-up style="position: absolute; z-index: -1;">
      <img src="../../assets/imgs/logo.png">
    </div>
    <ion-row no-padding>
      <ion-col col-8 hidden-sm-down>
        <img src="../../assets/imgs/logo.png">
      </ion-col>
      <ion-col col-12 col-md-3 col-lg-3>
        <form [formGroup]="todo">
          <ion-label stacked>Username</ion-label>
          <ion-item>
            <ion-input formControlName="username" type="text"></ion-input>
            <button item-end ion-button clear icon-only type="button">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </ion-item>
          <div validation-error-help>
            <div *ngFor="let validation of validation_messages.username">
              <span *ngIf="todo.get('username').hasError(validation.type) && (todo.get('username').dirty || todo.get('username').touched)">
                {{ validation.message }}
              </span>
            </div>
          </div>

          <ion-label stacked>Password</ion-label>
          <ion-item>
            <ion-input formControlName="password" [type]="showType"></ion-input>
            <button item-end ion-button clear icon-only type="button" (click)="showPassword()">
              <ion-icon [name]="showIcon"></ion-icon>
            </button>
          </ion-item>
          <div validation-error-help>
            <div *ngFor="let validation of validation_messages.password">
              <span *ngIf="todo.get('password').hasError(validation.type) && (todo.get('password').dirty || todo.get('password').touched)">
                {{ validation.message }}
              </span>
            </div>
          </div>

          <button *ngIf="!logginIn" mode="ios" type="submit" ion-button block (click)="login()">
            Sign In
          </button>
          <button *ngIf="logginIn" ion-button block mode="ios">
            <ion-spinner name="crescent" color="pure-light"></ion-spinner>
          </button>
          <p ion-text text-center>Need an account? <a>Sign Up</a></p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
