// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media (min-width: 766px) {
    [hidden-sm-up] {
        display: none !important;
    }
}

@media (max-width: 767px) {
    [hidden-sm-down] {
        display: none !important;
    }
}

[validation-error-help] {
    margin: 8px 16px;
    height: 1.4rem;
    font-size: 1rem;
    font-weight: bold;
    color: color($colors, warning);
    text-align: center;
}

// customize toast
.toast-success {
    margin-top: 5%;
    .toast-wrapper {
        background: transparent;
    }
    .toast-container{
        background: color($colors, success) !important;
        opacity: 0.9;
    }
}

.toast-warning {
    margin-top: 5%;
    .toast-wrapper {
        background: transparent;
    }
    .toast-container{
        background: color($colors, warning) !important;
        opacity: 0.9;
    }
}

.toast-danger {
    margin-top: 5%;
    .toast-wrapper {
        background: transparent;
    }
    .toast-container{
        background: color($colors, danger) !important;
        opacity: 0.9;
    }
}

.toast-normal {
    margin-top: 5%;
    .toast-wrapper {
        background: transparent;
    }
    .toast-container{
        background: black !important;
        opacity: 0.9;
    }
}